aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-types 
anyio 
appnope 
asttokens 
async-timeout 
attrs 
Brotli 
certifi 
cffi 
charset-normalizer 
clarabel 
click 
colorama 
comm 
cvxopt
cvxpy 
dataclasses-json 
debugpy 
decorator 
distro 
ecos 
exceptiongroup 
executing 
fastapi 
frozenlist 
greenlet 
h11 
h2 
hpack 
httpcore 
httpx 
hyperframe 
idna 
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
jiter 
joblib 
jsonpatch 
jsonpointer 
jupyter_client 
jupyter_core 
langchain 
langchain-community 
langchain-core 
langchain-openai 
langchain-text-splitters 
langsmith 
marshmallow 
matplotlib-inline 
multidict 
mypy_extensions 
nest_asyncio 
numpy 
openai 
orjson 
osqp 
packaging 
pandas 
parso 
pexpect 
pickleshare 
platformdirs 
prompt_toolkit 
propcache 
psutil 
ptyprocess 
pure_eval 
pycparser 
pydantic 
pydantic_core 
Pygments 
pyportfolioopt 
PySocks 
python-dateutil 
pytz 
PyYAML 
pyzmq 
qdldl 
regex 
requests 
requests-toolbelt 
scikit-learn 
scipy 
scs 
six 
sniffio 
SQLAlchemy 
stack_data 
starlette 
tenacity 
threadpoolctl 
tiktoken 
tornado 
tqdm 
traitlets 
typing-inspection 
typing_extensions 
typing_inspect 
tzdata 
urllib3 
uvicorn 
wcwidth 
yarl 
zipp 
zstandard==0.23.0
